*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height:100vh;
    background:#cfd6e0;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:62px;
}

/* Tarjeta principal */
.card{
    width:464px;
    height:569px;
    background:#ffffff;
    border-radius:40px;
    padding:40px 50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

/* Logo */
.logo{
    width:230px;
    height:80px;
    object-fit:contain;
    margin-bottom:20px;
}

/* Títulos */
.title{
    font-weight:700;
    font-size:24px;
    margin-bottom:5px;
}

.subtitle{
    font-weight:400;
    font-size:16px;
    text-align:center;
    margin-bottom:40px;
}

/* Formulario */
form{
    width:100%;
    display:flex;
    flex-direction:column;
}

label{
    font-size:15px;
    margin-bottom:6px;
}

input{
    height:42px;
    border:1px solid #000;
    border-radius:10px;
    padding:0 10px;
    margin-bottom:25px;
    font-size:14px;
}

button{
    height:45px;
    background:#2f5bea;
    color:white;
    border:none;
    border-radius:10px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1f47c5;
}

/* Línea */
.divider{
    width:100%;
    height:1px;
    background:#000;
    margin-top:auto;
    margin-bottom:15px;
}

/* Footer */
.footer-text{
    font-size:14px;
    text-align:center;
}
